// SPACING
.mar-top-10 {
  margin-top: 10px;
}

.mar-top-14{
  margin-top: 14px;
}

.mar-top-36 {
  margin-top: 36px;
}

.mar-top-50 {
  margin-top: 50px;
}

.mar-top-200 {
  margin-top: 200px;
}

.pad-right-4 {
  padding-right: 4px;
}

// GAP
.gap-14 {
  gap: 14px;
}
