// COLORS
$clr-black: #000000;
$clr-white: #ffffff;

$clr-grey-1: #AEAEAE;
$clr-grey-2: #767676;

$clr-blue-1: #385C8E;
$clr-blue-2: #1A4F8B;

$clr-red-1: #F14436;
$clr-red-2: #BF1541;

// BORDER-RADIUS
$border-radius-4: 4px;
$border-radius-8: 8px;
